<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='responsive.css') }}">
	<title>NEW MENU ITEM</title>
</head>
<body>
	<main>
		<section class="content">
			<section class="new">
				<h1>NEW MENU ITEM FOR {{restaurant.name}}</h1>
			</section>
			<section class="form">
				<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id)}}" method="POST">
						<span>Name:</span>
						<input type="text" required name="name" size="30">
						<span>Price:</span>
						<input type="number" required name="price" min="0" step="0.01">
						</br>
						<span>Description:</span>
						<input type="text" required name="description" size="30">
						</br>
						<span>Course:</span>
						<select name="course">
							{% for course in courses %}
								<option value={{course.id}}>{{course.name}}</option>
							{% endfor %}
						</select>
						<a href = "{{url_for('newCourse') }}">create new course</a>
						</br></br>
						<input type="submit" name="Create" class="submit" value="Create">
				</form>
			</section>
		</section>
	</main>
</body>
</html>