<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='responsive.css') }}">
	<title>NEW COURSE</title>
</head>
<body>
	<main>
		<section class="content">
			<section class="new">
				<h1>NEW COURSE</h1>
			</section>
			<section class="form">
				<form action="{{url_for('newCourse', course_id=course_id)}}" method="POST">
						<span>Name:</span>
						<input type="text" required name="name" size="30">
						</br></br>
						<input type="submit" name="Create" class="submit" value="Create">
				</form>
			</section>
		</section>
	</main>
</body>
</html>